:root {
  --ff-body: Poppins;
  --ff-button: Roboto;

  --fw-light: 200;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fs-normal: normal;
  --fs-italic: italic;

  --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
  --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
  --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
  --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
  --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
  --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
  --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

  --clr-primary-100: rgba(255, 255, 255, 1);
  --clr-primary-200: rgba(217, 217, 217, 1);
  --clr-primary-300: rgba(173, 173, 173, 1);
  --clr-primary-400: rgba(117, 117, 117, 1);
  --clr-primary-500: rgba(75, 75, 75, 1);
  --clr-primary-600: rgba(64, 64, 64, 1);
  --clr-primary-700: rgba(43, 43, 43, 1);
  --clr-primary-800: rgba(34, 34, 34, 1);
  --clr-primary-900: rgba(30, 30, 30, 1);

  --clr-transp-100: rgba(255, 255, 255, 0.9);
  --clr-transp-200: rgba(217, 217, 217, 0.8);
  --clr-transp-300: rgba(173, 173, 173, 0.7);
  --clr-transp-400: rgba(117, 117, 117, 0.6);
  --clr-transp-500: rgba(75, 75, 75, 0.6);
  --clr-transp-600: rgba(64, 64, 64, 0.7);
  --clr-transp-700: rgba(43, 43, 43, 0.8);
  --clr-transp-800: rgba(34, 34, 34, 0.9);
  --clr-transp-900: rgba(30, 30, 30, 0.9);
}

@font-face {
  font-family: "Poppins";
  font-weight: var(--fw-light);
  font-style: var(--fw-normal);
  font-display: swap;
  src: url("./assets/fonts/poppins-extralight.woff2") format("woff2")
}

@font-face {
  font-family: "Poppins";
  font-weight: var(--fw-light);
  font-style: var(--fw-italic);
  font-display: swap;
  src: url("./assets/fonts/poppins-extralightitalic.woff2") format("woff2")
}

@font-face {
  font-family: "Poppins";
  font-weight: var(--fw-medium);
  font-style: var(--fw-normal);
  font-display: swap;
  src: url("./assets/fonts/poppins-medium.woff2") format("woff2")
}

@font-face {
  font-family: "Poppins";
  font-weight: var(--fw-medium);
  font-style: var(--fw-italic);
  font-display: swap;
  src: url("./assets/fonts/poppins-mediumitalic.woff2") format("woff2")
}

@font-face {
  font-family: "Poppins";
  font-weight: var(--fw-bold);
  font-style: var(--fw-normal);
  font-display: swap;
  src: url("./assets/fonts/poppins-bold.woff2") format("woff2")
}

@font-face {
  font-family: "Poppins";
  font-weight: var(--fw-bold);
  font-style: var(--fw-italic);
  font-display: swap;
  src: url("./assets/fonts/poppins-bolditalic.woff2") format("woff2")
}

@font-face {
  font-family: "Roboto";
  font-weight: var(--fw-regular);
  font-style: var(--fw-normal);
  font-display: swap;
  src: url("./assets/fonts/roboto-regular.woff2") format("woff2")
}

@font-face {
  font-family: "FontAwesome";
  src: url("./assets/fonts/fontawesome.woff2") format("woff2"), format("svg");
  font-weight: var(--fw-regular);
  font-style: var(--fw-normal);
  font-display: swap;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  1000% {
    transform: translateY(0%);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  margin: auto;
  text-rendering: optimizeSpeed;
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  font-weight: var(--fw-medium);
  line-height: 1.6;
  scroll-behavior: smooth;
  background: var(--clr-primary-300);
  background: -moz-radial-gradient(circle, var(--clr-primary-300) 0%, var(--clr-primary-700) 100%);
  background: -webkit-radial-gradient(circle, var(--clr-primary-300) 0%, var(--clr-primary-700) 100%);
  background: radial-gradient(circle, var(--clr-primary-300) 0%, var(--clr-primary-700) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9c9c9c", endColorstr="#2d2d2d", GradientType=1);
}

.root {
  width: min(60rem, 100% - 2rem);
  margin-inline: auto;
}